@tailwind base;
@tailwind components;
@tailwind utilities;

/* This should go in your Tailwind CSS file */
.menu-item {
    position: relative;
  }
  
  .menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position of the underline */
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline */
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    transform: scaleX(0); /* Initially set the scale to 0 to hide the underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover::after {
    transform: scaleX(1); /* Expand the underline on hover */
    transform-origin: bottom left;
  }
  